/* Genel Stiller */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Header Stilleri */
header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 0;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
}

.navbar-nav .nav-link {
    color: #333;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Hero Bölümü Stilleri */
#hero {
    background-image: url('https://i.pinimg.com/originals/30/d8/99/30d899232dfe254a407a954880f424e4.gif');
    background-size: cover;
    color: #fff;
    padding: 150px 0;
}

#hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* Featured Products Bölümü Stilleri */
#featured-products h2 {
    font-size: 2.8rem;
    margin-bottom: 50px;
    color: #333;
}

/* Footer Stilleri */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 40px 0;
}

footer h5 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
}

footer p {
    font-size: 1rem;
    color: #ccc;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: #ccc;
    text-decoration: none;
}

footer ul li a:hover {
    color: #fff;
}

footer .list-inline-item {
    margin-right: 20px;
}

footer .list-inline-item:last-child {
    margin-right: 0;
}


.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Kart Başlığı ve Metni */
.card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.card-text {
    font-size: 1rem;
}

/* Detaylar Düğmesi */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
